
QeraatSearch/Books/book_aboamro.csv
QeraatSearch/Books/book_abujafar.csv
QeraatSearch/Books/book_all10.csv
QeraatSearch/Books/book_ibnamer.csv
QeraatSearch/Books/book_khalaf.csv
QeraatSearch/Books/book_kisai.csv
QeraatSearch/Books/book_qhamza.csv
QeraatSearch/Books/book_qibnkather.csv
QeraatSearch/Books/book_qqalon.csv
QeraatSearch/Books/book_qwarsh.csv
QeraatSearch/Books/book_sho3ba.csv
QeraatSearch/Books/book_yaqob.csv
QeraatSearch/data_v17.db

/QeraatSearch/Tags Editor/__history
QeraatSearch/Tags Editor/TagsEditor.dproj.local
*.dcu
QeraatSearch/Tags Editor/TagsEditor.identcache
QeraatSearch/Tags Editor/TagsEditor.res
