/Tayseer/Pages_bakM
/Tayseer/PagesM
/Tayseer/Pages
/Tayseer/Pages_bak
/QuranWordMap/pages
/QeraatSearch/Update_rest.py
facebook_posts.db
facebook_posts.sqbpro
magickforall.ps1
Motshabehat2.docx
Motshabehat2_parts.docx
Motshabehat70.docx
output/Imala.docx
output/Shatbya.docx
output/Tayba - Copy.docx
output/Tayba.docx
QeraatSearch/books/book_asbhni.csv
QeraatSearch/data_v17.db
QeraatSearch/qeraat_data_simple.sqbpro
