
QeraatSearch/Books/book_aboamro.csv
QeraatSearch/Books/book_abujafar.csv
QeraatSearch/Books/book_all10.csv
QeraatSearch/Books/book_ibnamer.csv
QeraatSearch/Books/book_khalaf.csv
QeraatSearch/Books/book_kisai.csv
QeraatSearch/Books/book_qhamza.csv
QeraatSearch/Books/book_qibnkather.csv
QeraatSearch/Books/book_qqalon.csv
QeraatSearch/Books/book_qwarsh.csv
QeraatSearch/Books/book_sho3ba.csv
QeraatSearch/Books/book_yaqob.csv
QeraatSearch/data_v17.db

/QeraatSearch/Tags Editor/__history
QeraatSearch/Tags Editor/TagsEditor.dproj.local
*.dcu
QeraatSearch/Tags Editor/TagsEditor.identcache
QeraatSearch/Tags Editor/TagsEditor.res
QeraatSearch/Tags Editor/Win32/Debug/qeraat_data_simple.db
*.ini
QeraatSearch/data_v19.db
ShmrlyFarsh/Warsh-Azraq-Shamarly-Shalaby.xfdf
facebook_posts.db
shmrly_osoul_brief.docx
output_documents/hashtag_\#أدب_ال_خلاف.docx
output_documents/hashtag_\#صلاة_ال_جماعة.docx
output_documents/hashtag_.docx
output_documents/hashtag_0day.docx
output_documents/hashtag_1989.docx
output_documents/hashtag___ليدبروا_آياته.docx
output_documents/hashtag_AgainstNokhba.docx
output_documents/hashtag_AmnDawla.docx
output_documents/hashtag_animal_farm.docx
output_documents/hashtag_bey2olak.docx
output_documents/hashtag_bey2ollak.docx
output_documents/hashtag_CairoExplosion.docx
output_documents/hashtag_conspiracy_theory.docx
output_documents/hashtag_copy_text.docx
output_documents/hashtag_ctrl_c_ctrl_c.docx
output_documents/hashtag_deadlock.docx
output_documents/hashtag_deemed_hopeless.docx
output_documents/hashtag_developers_will_relate.docx
output_documents/hashtag_Dostor2011.docx
output_documents/hashtag_drink_8_glasses_of_water.docx
output_documents/hashtag_earthquake.docx
output_documents/hashtag_egypt.docx
output_documents/hashtag_elbaradei.docx
output_documents/hashtag_emsekflol.docx
output_documents/hashtag_energy_saving_people.docx
output_documents/hashtag_enjoy.docx
output_documents/hashtag_Enough.docx
output_documents/hashtag_Enough_is_enough.docx
output_documents/hashtag_extra_like.docx
output_documents/hashtag_FreeGizawy.docx
output_documents/hashtag_Gaza.docx
output_documents/hashtag_Gaza_Under_Attack.docx
output_documents/hashtag_Ghazaunderattack.docx
output_documents/hashtag_history.docx
output_documents/hashtag_hoax_planet.docx
output_documents/hashtag_hosnimubarak.docx
output_documents/hashtag_ihaveadream.docx
output_documents/hashtag_IkhwanSongs.docx
output_documents/hashtag_imshot.docx
output_documents/hashtag_ios11.docx
output_documents/hashtag_JAN25.docx
output_documents/hashtag_LetsSaveGaza.docx
output_documents/hashtag_Libya.docx
output_documents/hashtag_mali.docx
output_documents/hashtag_Managing_Expectations.docx
output_documents/hashtag_me_too.docx
output_documents/hashtag_MubarakGhost.docx
output_documents/hashtag_Murphy_law.docx
output_documents/hashtag_nineteen_eighty_four.docx
output_documents/hashtag_No_offense.docx
output_documents/hashtag_noscaf.docx
output_documents/hashtag_obl.docx
output_documents/hashtag_offline.docx
output_documents/hashtag_old_days_block.docx
output_documents/hashtag_OpIsrael.docx
output_documents/hashtag_overflow.docx
output_documents/hashtag_Please_Block_Me.docx
output_documents/hashtag_quote.docx
output_documents/hashtag_recursion.docx
output_documents/hashtag_regular_differentiation.docx
output_documents/hashtag_root_required.docx
output_documents/hashtag_salafi.docx
output_documents/hashtag_ScarySentences.docx
output_documents/hashtag_Six_degrees_of_separation.docx
output_documents/hashtag_somalia.docx
output_documents/hashtag_SoundCloud.docx
output_documents/hashtag_stop_killing_rohingya_muslim.docx
output_documents/hashtag_Tahrir.docx
output_documents/hashtag_talk_about_sudan.docx
output_documents/hashtag_Tanta.docx
output_documents/hashtag_telegram.docx
output_documents/hashtag_toy_story.docx
output_documents/hashtag_Whatsapp_syndrome.docx
output_documents/hashtag_WikiLeaks.docx
output_documents/hashtag_Win_Win.docx
output_documents/hashtag_Yemen.docx
output_documents/hashtag_zo7al.docx
output_documents/hashtag_أجوبة_الآسك.docx
output_documents/hashtag_أدب_ال_خلاف.docx
output_documents/hashtag_أدب_الخلاف.docx
output_documents/hashtag_أستغفر_الله.docx
output_documents/hashtag_أصحاب_الصلة.docx
output_documents/hashtag_أف.docx
output_documents/hashtag_أفكار_إبداعية_لحفظ_المتشابهات.docx
output_documents/hashtag_أكاذيب_عصرية.docx
output_documents/hashtag_ألش_باء_صحافة.docx
output_documents/hashtag_ألم_يأن.docx
output_documents/hashtag_أمطار_الإسكندرية.docx
output_documents/hashtag_أنت_لست_شجرة.docx
output_documents/hashtag_أنقذوا_المهندس_علي_أبو_القاسم.docx
output_documents/hashtag_أولئك_يدعون_إلى_النار.docx
output_documents/hashtag_إدارة_ال_وقت.docx
output_documents/hashtag_إلا_رسول_الله.docx
output_documents/hashtag_إوعى_تقطع_صابع_الجوانتي.docx
output_documents/hashtag_إيتاي_البارود.docx
output_documents/hashtag_إيه_اللي_وداك_هناك.docx
output_documents/hashtag_االشمرلي.docx
output_documents/hashtag_ابن_القيم.docx
output_documents/hashtag_ابن_عامر.docx
output_documents/hashtag_ابن_عامل_النظافة.docx
output_documents/hashtag_ابن_كثير.docx
output_documents/hashtag_ابو_جعفر.docx
output_documents/hashtag_اتصالات_مصر.docx
output_documents/hashtag_اجوبة_الآسك.docx
output_documents/hashtag_احفظ_قلبك.docx
output_documents/hashtag_ادارة_ال_وقت.docx
output_documents/hashtag_اساحبي.docx
output_documents/hashtag_اسانجي.docx
output_documents/hashtag_استجابة_ال_دعاء.docx
output_documents/hashtag_استخرج_14_خطأ.docx
output_documents/hashtag_استعن_بالله_ولاتعجز.docx
output_documents/hashtag_استقرار.docx
output_documents/hashtag_اشمعنى_أنا.docx
output_documents/hashtag_اصحاب_التوسط.docx
output_documents/hashtag_اصحاب_الصلة.docx
output_documents/hashtag_اظهر_وبان.docx
output_documents/hashtag_اعادة_نشر.docx
output_documents/hashtag_اعتياد_الذنب.docx
output_documents/hashtag_اعرف_ابن_تيمية.docx
output_documents/hashtag_اغتم_ال_مهلة.docx
output_documents/hashtag_اغتنم_ال_مهلة.docx
output_documents/hashtag_اغتنم_المهلة.docx
output_documents/hashtag_ال_إخلاص.docx
output_documents/hashtag_ال_ابتلاء.docx
output_documents/hashtag_ال_إخلاص.docx
output_documents/hashtag_ال_تعليم.docx
output_documents/hashtag_ال_حبط.docx
output_documents/hashtag_ال_حكماء.docx
output_documents/hashtag_ال_رشد_الخيري.docx
output_documents/hashtag_ال_زوجية.docx
output_documents/hashtag_ال_صلاة_على_النبي_ﷺ.docx
output_documents/hashtag_ال_فطرة.docx
output_documents/hashtag_ال_مال_ال_حرام.docx
output_documents/hashtag_ال_مغالطات.docx
output_documents/hashtag_ال_مهلكات.docx
output_documents/hashtag_ال_همة.docx
output_documents/hashtag_ال_وسوسة.docx
output_documents/hashtag_الأطباء_أيضا_يموتون.docx
output_documents/hashtag_الأمانة.docx
output_documents/hashtag_الأندلس_طبعا.docx
output_documents/hashtag_الابراشي.docx
output_documents/hashtag_الاختبارات.docx
output_documents/hashtag_الامتحانات.docx
output_documents/hashtag_الأصبهاني.docx
output_documents/hashtag_التباعد_الاجتماعي.docx
output_documents/hashtag_التلخيص_القصير_للهري_الكثير.docx
output_documents/hashtag_الجمعة_البيضاء.docx
output_documents/hashtag_الجمعة_الخضراء.docx
output_documents/hashtag_الجمعة_السوداء.docx
output_documents/hashtag_الجمعة_الصفراء.docx
output_documents/hashtag_الحرية_لمحمد_سامح.docx
output_documents/hashtag_الحرية_لميسرة.docx
output_documents/hashtag_الدولة_العبيطة.docx
output_documents/hashtag_الرجدية.docx
output_documents/hashtag_الرجل_رقم_صفر.docx
output_documents/hashtag_السائرون_على_التايملاين.docx
output_documents/hashtag_السكان_الأصليين_لبلاد_الإسلام.docx
output_documents/hashtag_السنغال.docx
output_documents/hashtag_السنغال_مصر_١_٠.docx
output_documents/hashtag_الشاطبية.docx
output_documents/hashtag_الشمرلي.docx
output_documents/hashtag_الطفل_ريان.docx
output_documents/hashtag_العدالة_الانتقالية.docx
output_documents/hashtag_العربية_قناة_إرهابية.docx
output_documents/hashtag_العصا_والغدوة.docx
output_documents/hashtag_العين_حق.docx
output_documents/hashtag_الغش.docx
output_documents/hashtag_الغش_في_الاختبارات.docx
output_documents/hashtag_الغش_في_الامتحانات.docx
output_documents/hashtag_الفيس_والواقع.docx
output_documents/hashtag_القراءة_الإلكترونية.docx
output_documents/hashtag_اللايك_مسئولية.docx
output_documents/hashtag_الله_المستعان.docx
output_documents/hashtag_اللهم.docx
output_documents/hashtag_اللهم_بعزتك_لا_باختيارهم.docx
output_documents/hashtag_اللهم_حرية_لميسرة.docx
output_documents/hashtag_المبرمجون_قتلة.docx
output_documents/hashtag_المتعففون_في_البيوت.docx
output_documents/hashtag_المجرم_هرب.docx
output_documents/hashtag_المدينة.docx
output_documents/hashtag_المنشور_السابق.docx
output_documents/hashtag_الوسوسة.docx
output_documents/hashtag_الوعي.docx
output_documents/hashtag_انت_لسة_ما_قومتش؟.docx
output_documents/hashtag_انت_مابتذاكرش_ليه.docx
output_documents/hashtag_انتبه_المبرمج_يرجع_إلى_الخلف.docx
output_documents/hashtag_انتخابات_فوتوشوب.docx
output_documents/hashtag_انتي_اشتغلي_ايه؟.docx
output_documents/hashtag_اندرويد.docx
output_documents/hashtag_انكسار.docx
output_documents/hashtag_باب_ال_توبة.docx
output_documents/hashtag_باتنين_جنيه.docx
output_documents/hashtag_باقولك_أيام_مكررة.docx
output_documents/hashtag_بتمن_اي_فون_5.docx
output_documents/hashtag_بجد.docx
output_documents/hashtag_بدء_الدراسة.docx
output_documents/hashtag_بدون_ذكر_أسماء.docx
output_documents/hashtag_بدون_منشن.docx
output_documents/hashtag_بر_ال_والدين.docx
output_documents/hashtag_بركة_الاستشارة_طرحت.docx
output_documents/hashtag_بوست_تقليدي.docx
output_documents/hashtag_بيب_عن.docx
output_documents/hashtag_بيت_الرعب.docx
output_documents/hashtag_تائبون.docx
output_documents/hashtag_تاريخ.docx
output_documents/hashtag_تاريخ_مصر_الخنيق.docx
output_documents/hashtag_تدبر_ي.docx
output_documents/hashtag_تدبري_.docx
output_documents/hashtag_ترامب.docx
output_documents/hashtag_تربتوفان.docx
output_documents/hashtag_تسقط_دولة_الظلم.docx
output_documents/hashtag_تعريف_المينز_بأحكام_الچينز.docx
output_documents/hashtag_تعلمت.docx
output_documents/hashtag_تفكر_كتاب_في_جزيرة.docx
output_documents/hashtag_تلميحات_ال_متشابهات.docx
output_documents/hashtag_تنويه.docx
output_documents/hashtag_تي_داتا_للتواصل_الاجتماعي.docx
output_documents/hashtag_تيسير_القراءات.docx
output_documents/hashtag_ثلاث_وجبات.docx
output_documents/hashtag_ثم_اتبعه_بست_من_شوال.docx
output_documents/hashtag_جدو_شلبي.docx
output_documents/hashtag_جوامع_كلم.docx
output_documents/hashtag_جودريدز_و_أبجد.docx
output_documents/hashtag_حازم.docx
output_documents/hashtag_حج_يا_حاج.docx
output_documents/hashtag_حدث_بالفعل.docx
output_documents/hashtag_حديث_ال_نفس.docx
output_documents/hashtag_حديث_النفس.docx
output_documents/hashtag_حرمة_الدماء.docx
output_documents/hashtag_حسن_ال_ظن_بالله.docx
output_documents/hashtag_حضرتك_فقري.docx
output_documents/hashtag_حفظ_وتثبيت_القرآن.docx
output_documents/hashtag_حقوق_النسخ_محفوظة.docx
output_documents/hashtag_حكاوي_جدو_شلبي.docx
output_documents/hashtag_حلحلة_الاستقطاب.docx
output_documents/hashtag_حمزة.docx
output_documents/hashtag_حملة_الدعاء_للرئيس.docx
output_documents/hashtag_حمى_الفضائح.docx
output_documents/hashtag_حيل_البقاء.docx
output_documents/hashtag_خاطرة.docx
output_documents/hashtag_خالي_من_الإسقاطات.docx
output_documents/hashtag_خد_فكرة.docx
output_documents/hashtag_خطوات_ال_شيطان.docx
output_documents/hashtag_خفيف_خفيف.docx
output_documents/hashtag_خلي_القروب_تنفعك.docx
output_documents/hashtag_خليك_أصلي.docx
output_documents/hashtag_خليها_تنفعك.docx
output_documents/hashtag_خير_ديلڤري.docx
output_documents/hashtag_دعا_ئي.docx
output_documents/hashtag_دلجا.docx
output_documents/hashtag_دُرُوس_التجويــــــد_عَمليـــــاً..docx
output_documents/hashtag_ر_م_ض_ا_ن.docx
output_documents/hashtag_ر_م_ض_ان.docx
output_documents/hashtag_رأيكم_يهمني.docx
output_documents/hashtag_راجع_نفسك.docx
output_documents/hashtag_ربي_قدير.docx
output_documents/hashtag_سلفية.docx
output_documents/hashtag_سوف_تكبر.docx
output_documents/hashtag_سوق_الغرور.docx
output_documents/hashtag_سيكولوجية_الجماهير.docx
output_documents/hashtag_شارك_الفكرة.docx
output_documents/hashtag_شعبة.docx
output_documents/hashtag_شلولو.docx
output_documents/hashtag_شمالية_غربية.docx
output_documents/hashtag_شيبتني_هود.docx
output_documents/hashtag_شير.docx
output_documents/hashtag_شير_لو_سمحت.docx
output_documents/hashtag_شير_لو_سمحتم.docx
output_documents/hashtag_ص_ف_ح_تي.docx
output_documents/hashtag_صحتك_ال_نفسية.docx
output_documents/hashtag_صدمه_.docx
output_documents/hashtag_صلاة_ال_جماعة.docx
output_documents/hashtag_صلاة_الجمعة.docx
output_documents/hashtag_صلاةالجمعة.docx
output_documents/hashtag_صنم_ال_عشق.docx
output_documents/hashtag_صوم_عاشوراء.docx
output_documents/hashtag_طبيب_يداوي_الناس_والطبيب_عليل.docx
output_documents/hashtag_طحن_مو.docx
output_documents/hashtag_طز_في_عمرو_أديب_.docx
output_documents/hashtag_طنطا.docx
output_documents/hashtag_عاجل_وفاة_مبارك😁.docx
output_documents/hashtag_عاصفة_اسمه_ايه.docx
output_documents/hashtag_عبدالعاطي_هرب.docx
output_documents/hashtag_عزيزي_ال_مبرمج.docx
output_documents/hashtag_عزيزي_الشاب.docx
output_documents/hashtag_عشروميت_طن.docx
output_documents/hashtag_عصفور.docx
output_documents/hashtag_عصفور_المدينة.docx
output_documents/hashtag_عصفورالمدينة.docx
output_documents/hashtag_عكاشة_يتنحى.docx
output_documents/hashtag_علقم_خيري.docx
output_documents/hashtag_عن_ال_ثقة.docx
output_documents/hashtag_عنبر_العقلاء.docx
output_documents/hashtag_عنبر_الفقراء.docx
output_documents/hashtag_عيدنا_أحلى_مع_O.docx
output_documents/hashtag_غرد_أستاذي.docx
output_documents/hashtag_غزة.docx
output_documents/hashtag_غض_ال_بصر.docx
output_documents/hashtag_فالكون.docx
output_documents/hashtag_فبالراحة.docx
output_documents/hashtag_فتبينوا.docx
output_documents/hashtag_فريد_الأنصاري.docx
output_documents/hashtag_فكر_الفقر_وفقر_الفكر.docx
output_documents/hashtag_فلولو.docx
output_documents/hashtag_فن_المزاولة.docx
output_documents/hashtag_فهلوة.docx
output_documents/hashtag_فوكسيت_ريدر_اتهبل.docx
output_documents/hashtag_في_حب_ال_حصري.docx
output_documents/hashtag_فين_الجيلبريك.docx
output_documents/hashtag_فيه_صاحب_يتصاحب.docx
output_documents/hashtag_قادم_من_زمن_قديم.docx
output_documents/hashtag_قالون.docx
output_documents/hashtag_قد_أعذر_من_شير.docx
output_documents/hashtag_قدم_حلول_كأنك_عاقل.docx
output_documents/hashtag_قراءات.docx
output_documents/hashtag_قصة_صفحة.docx
output_documents/hashtag_قضاء_وقدر.docx
output_documents/hashtag_قضية_أبل_سامسونج.docx
output_documents/hashtag_قل_ولا_تقل.docx
output_documents/hashtag_قول_بقى.docx
output_documents/hashtag_كان_ﷺ_خلقه_ال_قرآن.docx
output_documents/hashtag_كانوا_شيعا.docx
output_documents/hashtag_كشف_الحساب.docx
output_documents/hashtag_كفالة_أسر_الشهداء_والمصابين_والمعتقلين_ظلماً.docx
output_documents/hashtag_كفاية_دكاترة_ومهندسين.docx
output_documents/hashtag_كل_حزب_بما_لديهم_فرحون.docx
output_documents/hashtag_كوكب_القذافي.docx
output_documents/hashtag_لا_تفتحه.docx
output_documents/hashtag_لا_تكن_بوقا.docx
output_documents/hashtag_لا_سياسة_في_الحرم.docx
output_documents/hashtag_لا_لغلق_57357_طنطا.docx
output_documents/hashtag_لا_يا_شيخ.docx
output_documents/hashtag_لسان_حال_الفيس.docx
output_documents/hashtag_لقد_كان_عاما_وكنت_أتمنى_ألا_أكون_جزءا_منه.docx
output_documents/hashtag_ليدبروا_آياته.docx
output_documents/hashtag_م_ما_تعلمت.docx
output_documents/hashtag_م_ما_تعلمت_.docx
output_documents/hashtag_ما_ذا_بعد_رمضان.docx
output_documents/hashtag_ما_نسينا_خبروها.docx
output_documents/hashtag_ما_يصحش_كدة.docx
output_documents/hashtag_ماتخليهمش_يقنعوك.docx
output_documents/hashtag_ماذا_بعد_رمضان.docx
output_documents/hashtag_ماله_الواتساب؟.docx
output_documents/hashtag_مالي.docx
output_documents/hashtag_مبادرة_أسر_سجناء_مصر_السياسيين.docx
output_documents/hashtag_مبروك_يا_أميرة.docx
output_documents/hashtag_متعة_الإعراب.docx
output_documents/hashtag_محضر_إثبات_حالة.docx
output_documents/hashtag_مرسي.docx
output_documents/hashtag_مزرعة_الحيوانات.docx
output_documents/hashtag_مستشفى_سرطان_الاطفال.docx
output_documents/hashtag_مستشفي٥٧٣٥٧.docx
output_documents/hashtag_مسيرة_أمن_الدولة.docx
output_documents/hashtag_مش_عارف_اعبر.docx
output_documents/hashtag_مش_عايز_تحديثات.docx
output_documents/hashtag_مش_مقصودة.docx
output_documents/hashtag_مشرف_الشهري.docx
output_documents/hashtag_مصحف.docx
output_documents/hashtag_مصر.docx
output_documents/hashtag_مصر_القبح.docx
output_documents/hashtag_مع_نفسي.docx
output_documents/hashtag_معاك_موبايل_بكاميرا.docx
output_documents/hashtag_معنى_كررته.docx
output_documents/hashtag_مفاتيح_ال_وسوم.docx
output_documents/hashtag_مفاتيح_ال_يقين.docx
output_documents/hashtag_مفيش_رابط_تحميل؟.docx
output_documents/hashtag_مفيش_منشن_هما_عارفين_نفسهم.docx
output_documents/hashtag_مقدمة_الأحزان.docx
output_documents/hashtag_من_قتل_جون_كينيدي؟.docx
output_documents/hashtag_منابر_ال_مقسطين.docx
output_documents/hashtag_منشور_عميييق.docx
output_documents/hashtag_منشور_يزعل.docx
output_documents/hashtag_منشورات_مركز_استشراف_للبحوث_والدراسات.docx
output_documents/hashtag_منظومة_الآداب_الشرعية.docx
output_documents/hashtag_مهارات_ال_تنظيم.docx
output_documents/hashtag_موجهة.docx
output_documents/hashtag_موجهة_لعدد_كبير.docx
output_documents/hashtag_ميكس_براي.docx
output_documents/hashtag_نبهني_لو_أخطأت.docx
output_documents/hashtag_نتعلم_ال_شكر.docx
output_documents/hashtag_نتعلم_الشكر.docx
output_documents/hashtag_نسخ_النص.docx
output_documents/hashtag_نص_الكوب_المليان.docx
output_documents/hashtag_نظرية_القرود_الخمسة.docx
output_documents/hashtag_نقبل_الهبات_والتبرعات.docx
output_documents/hashtag_هذه_غدوتي.docx
output_documents/hashtag_هرمنا.docx
output_documents/hashtag_هرمون_اللايكسترون.docx
output_documents/hashtag_هل_رأيت_من_زار_بروفايلك_اليوم.docx
output_documents/hashtag_هل_وجدتم_ما_وعد_ربكم_حقا.docx
output_documents/hashtag_هندسة.docx
output_documents/hashtag_هو_فيه_إيه.docx
output_documents/hashtag_هو_فيه_ايه.docx
output_documents/hashtag_هيئة_كبار_العلماء.docx
output_documents/hashtag_هيا_بنا_نتبين.docx
output_documents/hashtag_هيا_بنا_نتثبت.docx
output_documents/hashtag_و_اذكروا_الله_كثيرا.docx
output_documents/hashtag_واعي.docx
output_documents/hashtag_وجئنا_ببضاعة_مزجاة.docx
output_documents/hashtag_وجاءكم_النذير.docx
output_documents/hashtag_ورش.docx
output_documents/hashtag_وشك_حلو.docx
output_documents/hashtag_وصيـ_تي.docx
output_documents/hashtag_ولا_تقربوا.docx
output_documents/hashtag_يا_بني_تعلم.docx
output_documents/hashtag_يا_بني_تعلم_.docx
output_documents/hashtag_يا_عريس_.docx
output_documents/hashtag_يا_معشر_ال_نساء.docx
output_documents/hashtag_يارب.docx
output_documents/hashtag_ياعريس_.docx
output_documents/hashtag_يامسكين.docx
output_documents/hashtag_يحدث_احيانا.docx
output_documents/hashtag_يرجى_إعادة_المحاولة.docx
output_documents/hashtag_يرفع_لكل_غادر_لواء.docx
output_documents/hashtag_يشعر_بالخشوع.docx
output_documents/hashtag_يضيفونك_ثم_يختفون.docx
output_documents/hashtag_يع.docx
output_documents/hashtag_يعني_إيه_أهداف.docx
output_documents/hashtag_ﺣﺴﺎﻡ_ﻋﻴﺴﻰ_ﻭ_ﻗﺒﻠﺔ_ﺗﻬﺎﻧﻰ.docx
QeraatSearch/imala_doc.py
output_documents/hashtag_باب_ال_توبة.pdf
ShmrlyFarsh/ShmrlyWordsALL.xfdf
QeraatSearch/data_v18.db
qeraat_data.db
data_v19.db
